@import url(utility.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-something:antialiased;
}

body{
    font-family: syne, sans-serif;
    max-width: 80%;
    margin: 0 auto;
    background: #fcf6f6;
    
}

header{
    background: #fcf6f6;
}

.container{
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color: rgb(46, 53, 53);
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all .3s ease;
    
    

}

header nav .left a:hover{
    color: blueviolet;
}

header nav{
    padding: 20px 0;
}

header nav .branding{
    margin-right: 50px;
}

header nav .branding img{
    height: 50px;
}


.hero{
    background: #fcf6f6;
    padding: 50px 0;
    
}

.hero .left img{
    width: 700px;
    height: 500px;
    border-radius: 20px;
}

.hero .right h1{
    font-size: 52px;
}

.hero .right h1 span{
    color: blueviolet;
}

.hero .right h3{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;

}

.hero .right p{
    font-size: 16px;
    line-height: 24px;
}

.section-heading{
    color: blueviolet;
    text-align: center;
    margin-bottom: 20px;
    line-height: 16px;
}

.section-heading + p{
    color: #161414;
    text-align: center;
    margin-bottom: 50px;
}

.Services{
    /* background: rgb(210, 219, 233); */
    padding: 80px 0;
}

section .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}

section .card-wrapper .card{
    background: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(224, 17, 190);
    transition: all .3s ease;
}
section .card-wrapper .card:hover{
    background: #b7ecec;
}

section .card-wrapper .card h3{
    padding-top: 20px;
}

section .card-wrapper .card p{
    padding-top: 20px;
}

section .card-wrapper .card img{
    height: 50px;
}

.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.product-container .card{
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    background: #b7ecec;
    box-shadow: 10px 10px 10px rgb(170, 170, 170);
    text-align: left;
}
.product-container .card button{
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid blueviolet;
    cursor: pointer;
}
.product-container .card img{
    width: 100%;
    border-radius: 10px;
}

.product-section{
    text-align: center;
    margin: 50px 50px;
}
.product-section h3{
    font-size: 35px;
    margin-bottom: 20px;
}

.product-section p{
    font-size: 18px;
    margin-bottom: 30px;
}
