.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.btn{
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid;
    border-color: blueviolet;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    text-transform: uppercase;
}

.btn-2nd{
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid;
    border-color: blueviolet;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    text-transform: uppercase;
    margin-top: 20px;
}

.btn:hover{
    background: rgb(46, 45, 45);
    color: aliceblue;
}

.justify-center{
    justify-content: center;
}

.flex-1{
    flex:1;
}